/* Colors */
$nav-color: #E2E0D2
$nav-color-no-hover: #544C43
$menu-button: #96BE0E

/* Fonts */
$comfortaa-light: 'Comfortaa Light', Helvetica, sans-serif
$comfortaa-regular: 'Comfortaa', Helvetica, sans-serif
$comfortaa-bold: 'Comfortaa Bold', Helvetica, sans-serif